HTML,BODY{font-family:Tahoma,Arial;}
TH, TD,FIELDSET {
	vertical-align:top;
	text-align:left;
	padding: 4px;
	font-family:Tahoma,Arial;
	font-size:xx-smaill;
}
.calendarnote,
.smalllight{
	color:#999 !important;
	font-style:italic;
	font-size:smaller;
}
TABLE.adminview .dc .smalllight {
	color:#555 !important;
}
H1,H2{
	margin:0px;
	color:#333;
	font-style:none;
	font-family:Tahoma,Arial;
	margin-bottom:4px;
	margin-top:12px;
}
TABLE.history,
TABLE.software,
TABLE.listview,
TABLE.adminview,
TABLE.monthview {
	background:#333;
	font-size:10px;
}
TABLE.history TR TD,
TABLE.software TR TD {
	background:#fff;
}
TABLE.history TR TD {
	font-size:10px;
}
TABLE.history TR TD.change{
	padding:4px;
	font-size:10px;
	border-bottom:1px dotted #333 !important;
}
LI.note {
	font-family:"Lucida Console";
	font-size:9px;
	color:#444;
	list-style:square;
}
LI.single {
	list-style:none !important;
}
TABLE.history TR TH.category,
TABLE.software TR TD.category{
	background:#eee !important;
	height:10px;
	font-size:9px;
	font-style:italic !important;
}
TABLE.software TR TH{
	background:#fff;
	color:#333;
	font-size:12px;
}
TABLE.software TR TH.app{
	background:#CCC;
	color:#333;
	font-size:10px;
}
TABLE.listview TR TH.header,
TABLE.monthview TR TH.header {
	background:#ece75a;
	text-align:center;
}
TABLE.monthview TR TH.header {
	width:120px !important;
}
TABLE.adminview TR TH {
	background:#336699;
	text-align:center;
	font-size:12px !important;
	color:#eee;
}
TABLE.adminview TR TD,
TABLE.listview TR TD,
TABLE.monthview TR TD {
	font-size:11px !important;
	background:#fff;
	text-align:center;
 }
 TABLE.adminview TR TD {
	 text-align:left !important;
	 vertical-align:top;
 }
 TABLE.adminview TR TD.dc {
	background:#f8f99e;
}
 TABLE.adminview TR TD.notes,
TABLE.listview TR TD.notes {
	 text-align:left !important;
	 font-family:"Lucida Console" !important;
 }
TABLE.monthview TR TH.jobcount {
	text-align:center !important;
	font-size:10px;
	color:#333;
	background:#d9d689;
}
 TABLE.listview TR TD.system {
	text-align:left;
	 font-weight:bold;
 }
TABLE.monthview TR TH.time {
	background:#d4d059;
	font-size:12px;
	text-align:center;
	vertical-align:center;
	line-height:30px;
 }
 DIV.job{
	background:#eee;
	 padding:3px;
}
TABLE.properties {
	margin-top:20px;
	border:1px solid #666;
	width:600px;
}
TABLE.properties TH.title {
	background:#eee;
	border-bottom:1px solid #999;
	border-right:1px dotted #ccc;
}

.first {width:175px !important;}
TABLE.properties TH {
	border-right:1px dotted #999;
	border-bottom:1px dotted #ccc;
	font-size:smaller;
}
.noborder{border:0px !important;}
TABLE.properties TD {
	border-bottom:1px dotted #ccc;
	font-size:smaller;
}
LI.app {margin-left:25px;}
DIV.note{
	padding:5px;
	font-family:courier;
	font-size:x-small;
	border:1px dotted #999;
	background:#ccddff;
	width:590px;
	margin-top:15px;
}
.highlight {color:maroon !important;}